:root {
  --color-foreground: #e3f2f4;
  --color-primary: #155ba2;
  --color-secondary: #5199cd;
  --color-tertiary: #7ec6f9;
  --color-accent: #533ca6;
  --color-accent-light: #d989d3;
  --color-vs-background: #1e1e1e;
  --color-background: #050e17;
  --color-background-light: #0c253e;
  --color-background-lighter: #143353;
}
